@import "mixin";
@import "userBox";

.avatar {
  height: 200px;
  width: 200px;
}

.modal-content {
  // width: 412px !important;
  margin: auto !important;
  bottom: 8rem;
  width: 74% !important;
}
.row>*{
  padding: 0 !important;
}